<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
    <nav th:replace="fragments/navbar"></nav>
    <h2>Welcome to Programmer Fox Club!</h2>
    <p>Please provide a name, so you can associate it to your pet!</p>
    <form action="/login" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <input type="submit" value="Go">
    </form>
</body>
</html>