<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
    <nav th:replace="fragments/navbar"></nav>
    <form class="form" th:action="'/nutritionstore?name=' + ${name}" method="post">
        <label for="food">Food</label>
        <select name="food" id="food">
            <option value="pizza">pizza</option>
            <option value="pasta">pasta</option>
            <option value="burger">burger</option>
        </select>
        <label for="drink">Drink</label>
        <select name="drink" id="drink">
            <option value="water">water</option>
            <option value="coke">coke</option>
            <option value="tea">tea</option>
        </select>
        <input type="submit" value="Change">
    </form>
</body>
</html>